@import "../../styles/variables.scss";

.movie-card {
  transition: width 2s, height 2s, transform 2s;
  position: relative;
  // display: grid;
  display: block;
  &__info {
    display: none;
    // top: 0;
    // right: 0;
    // grid-area: 1 / 1 / 2 / 2;
    background-color: transparent;
	color: rgba(242, 244, 246, 0.9);
    // padding: 12px 16px;
    // z-index: 1;
	  .buttons-wrapper {
		  display: none;
	  }
    .textwrap {
      h3 {
      }
      p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    .more-info {
      display: flex;
      flex-direction: row;
      p {
        padding-right: 1rem;
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
    // }
  }
  &:hover {
    width: 300px;
    height: 500px;
    z-index: 9999;
    .movie-card__info {
      display: block;
      // position: absolute;
      min-width: 1.6rem;
      margin-top: 0.5rem;
      width: 100%;
      padding: 1rem 0.2rem;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
  }
}
