// Colors
$color-primary: #ffffff; // White
$color-primary-dark: rgba(242, 244, 246, 0.9); // Light gray
$color-secondary: #79b8f3; // Light blue
$color-secondary-light: #90dffe; // Light blue
$color-tertiary: #8197a4; // Dark gray
$color-button: #0f79af; // Dark blue
$color-button-hover: #1399de; // Light blue
$color-button-secondary: #425265; // Gray
$color-background: #0f171e; // Dark blue-gray background color

// Font Variables
@font-face {
	font-family: "Amble-Regular";
	src: url(../assets/fonts/Amble-Regular.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$font-primary: "Amble-Regular", "PT Sans", Arial, sans-serif;

// Portrait phones
$breakpoint-x-small: 360px;

// Landscape phones
$breakpoint-small: 480px;

// Tablets
$breakpoint-medium: 768px;

// Desktops
$breakpoint-large: 992px;

// Large desktops
$breakpoint-x-large: 1200px;

// Larger desktops
$breakpoint-xx-large: 1400px;
