@import "../../styles/variables.scss";

.movie-card {
  max-width: 29.4rem;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
  a {
    p {
      color: $color-primary;
      display: inline-block;
    }
  }
	img {
		width: 100%;
		transition: opacity 0.3s ease;
		box-sizing: border-box;
		display: block;
		height: auto;
	}

	.movie-card__info {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: none;
		background-color: rgba(0, 0, 0, 0.7);
		color: $color-primary;
		padding: 0;
		box-sizing: border-box;
		transition: opacity 0.3s ease;
		min-height: 16.5rem;
	}

	&:hover {
		img {
			opacity: 0;
		}
		.movie-card__info {
			display: block;
			opacity: 1;
		}
	}
}
