@import "../../styles/variables.scss";

.header {
	&__account {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 1.6rem;
		color: rgba(242, 244, 246, 0.7);

		@media (max-width: $breakpoint-large) {
			display: none;
		}

		&:hover {
			color: $color-primary;
		}

		.icon-user {
			margin-right: 0.8rem;

			a {
				display: flex;

				img {
					max-width: 3.2rem;
				}
			}
		}

		.username {
			margin-right: 0.5rem;
			font-size: 1.5rem;
		}
	}
}
